<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Client.Name" value="HelloWorld" />
    <add key="Client.LastAddress" value="192.168.0.1:4441" />
    <add key="Client.Broadcast.Enabled" value="True" />
    <add key="Client.Broadcast.Port" value="8888" />
    <add key="Client.HideCursor" value="True" />
    <add key="Client.BindUDP" value="True" />
    <add key="Client.SpecifyUDPPort" value="1337" />

    <add key="Server.HideCursor" value="True" />
    <add key="Server.BindUDP" value="True" />
    <add key="Server.Broadcast.Enabled" value="True" />
    <add key="Server.Broadcast.Port" value="8888" />
  </appSettings>
</configuration>